body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10vh 70vh  150vh  10vh;
    justify-items: stretch;
    align-items: stretch;
    align-content:stretch;
    justify-content: stretch;
    grid-template-areas: "header"
                        "carrusel"
                        "cuadricula"
                        "footer";
    border: 1px solid black;
}
header{
    grid-area:header;
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto 70vh ;
    grid-template-rows: auto;
    align-items: stretch;
}
input{
    height: 35px;
}

.carrusel{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area:carrusel;
    border: 1px solid black;
}
.cuadricula{
    grid-area:cuadricula;
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-items:center;
    justify-content:center;
    align-items: center;
    align-content:center;
    grid-gap:50px;

}
.tarjeta{
    width: 400px;
    height: 300px;
    background-color: aqua;
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto;
}  
.centar{
    grid-column: 2 / 3
}
footer{
    background-color: grey;
    grid-area:footer;
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto ;
    justify-items:center;
    justify-content: space-evenly;
    align-items: center;
    align-content:center;
}
.auxiliar{
    border: 1px solid black;
    
}
.alinear{
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto ;
    justify-items:center;
    justify-content:center;
    align-items: center;
    align-content:center;
}
.logo{
    width: 50px;
    height: 50px;
}
/* Estilos del carrusel */
.slider_container {
    position: relative;
    width: 60%;
    height: 40rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.slider{
    position: relative;
    width: 400%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: 15s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite;
}

.slide{
    position: relative;
    min-width: 100%;
    height: 100%;
}

.slide img{
    width: 100%;
    height: 100%;
}

.slide .caption{
    position: absolute;
    left: 0;
    bottom: 5%;
    font-size: 3rem;
    font-weight: 600;
    color: white;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.348);
    backdrop-filter: blur(10px);
    padding: 1rem 5rem;
    border-radius: 0 2rem 2rem 0;
}

/* Animación carrusel */
@keyframes sliding{
    0% {
        transform: translateX(0%);
    }
    30% {
        transform: translateX(0%);
    }
    35% {
        transform: translateX(-100%);
    }
    65% {
        transform: translateX(-100%);
    }
    70% {
        transform: translateX(-200%);
    }
    95% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }   
}
/* redimensionar la pagina */
@media screen and(min-width: 950px){
    .slider_container{
        width: 40%;
        height: 30rem;
    }
}
